<li class="list-group-item">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{link}}">{{title}}</a>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-success active">
                        <input type="radio" name="options" id="option1"> Edit
                    </label>
                    <label class="btn btn-danger">
                        <input type="radio" name="options" id="option2"> Delete
                    </label>

                </div>
            </div>
        </div>
</li>